* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.header .main-content {
    display: flex;
}

.main-content {
    width: 1170px;
    max-width: calc(100%-24px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

/* Header */

.header .nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav ul li a {
    color: #171100;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
}
